
////HOME SECTION
.Home {
    height: calc(100vh);
    background-image: url(../img/background-photo.jpg);

}
.info-home, .btn{
    font-family: 'Raleway', sans-serif;
    font-size: 4vw;
    color: #fff;
    text-align: center;
    padding-top: 20%;
}
.blast:hover{
color: aqua;
}

///ABOUT SECTION
.About{
    height: calc(100vh);
    background-color: #444;
    p{
        color: #fff;
    }
    h1{
        text-align: center;
        color: #fff;
        font-size: 3vw;
    }
  
}

.about-info{
    padding: 5% 0 5% 30%;
    font-size: 1.5vw;
}

//border animation

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 234px;
  height: 234px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50 px yellow;
}
.box:before{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: 0.5;
}
.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}
.box span:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: aqua;
  animation: animate 4s linear infinite;
}

.box span:nth-child(1){
  transform: rotate(0deg);
}
.box span:nth-child(2){
  transform: rotate(90deg);
}
.box span:nth-child(3){
  transform: rotate(180deg);
}
.box span:nth-child(4){
  transform: rotate(270deg);
}
.box span:nth-child(2):before{
animation-delay: -2s;
}
.box span:nth-child(4):before{
animation-delay: -2s;
}
@keyframes animate{
  0%{
    transform: scaleX(0);
    transform-origin: left;
  }
  50%{
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1%{
    transform: scaleX(1);
    transform-origin: right;
  }
  100%{
    transform: scaleX(0);
    transform-origin: right;
  }
  
}
.border-box-styling{
  margin-top: 50%;
}
///CONTACT ME SECTION
.ContactMe{
  height: calc(100vh);
}

